.search-bar-container {
  position: sticky;
  top: 4.5rem;
  background-color: var(--tertiary-color);
  padding: 2rem;
  z-index: 10;
}

.search-bar {
  margin: auto;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.search-bar input {
  padding: 0.5rem 1rem;
  width: 30rem;
  background-color: var(--tertiary-color);
  border: solid 1px var(--primary-color);
  color: var(--primary-color);
}

.search-results {
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
