.search-bar-container {
  position: sticky;
  top: 4.5rem;
  background-color: var(--tertiary-color);
  padding: 2rem;
  z-index: 10;
}

@media (max-width: 996px) {
  .search-bar-container {
    padding-right: 0;
    padding-left: 0;
  }
}

.search-bar {
  margin: auto;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
