header {
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  z-index: 99;
}

header nav {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header ul {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-weight: 600;
}

li .nav-link:hover,
li .nav-link.active {
  text-decoration: underline;
}

.title {
  font-family: "DM Serif Text", serif;
  font-size: 1.3rem;
}

.button-secondary {
  position: relative;
}

.button-secondary .overlay {
  position: absolute;
  width: 0%;
  height: 0%;
  top: 50%;
  left: 50%;
  z-index: 9;
  background-color: var(--tertiary-color);
  opacity: 0.95;
  transition: all 0.5s ease;
  font-size: 0;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--title-font);
}

.button-secondary:hover .overlay {
  width: 95%;
  height: 90%;
  top: 5%;
  left: 2.5%;
  font-size: 2rem;
}

.button-secondary span {
  transform: rotate(45deg);
}
