@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Onest:wght@100..900&display=swap");

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  --primary-color: #262626;
  --primary-hover-color: #3e3e3e;
  --secondary-color: #8c8988;
  --tertiary-color: #f2f2f2;
  --tertiary-hover-color: #cbcbcb;
  --text-font: "Onest", sans-serif;
  --title-font: "DM Serif Text", serif;
}

body {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-family: var(--text-font);
}

main {
  width: 100%;
  flex: 1;
  max-width: 80rem;
  margin: auto;
  padding: 5rem;
}

button,
div.button-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

button.active,
button:hover {
  background: none;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

button.secondary,
div.button-secondary {
  border: 1px solid var(--tertiary-color);
  background: none;
  color: var(--tertiary-color);
}

button.secondary:hover,
.active button.secondary {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

h1 {
  font-family: var(--title-font);
  text-align: center;
  font-size: 3rem;
}

h1 span {
  font-family: var(--text-font);
  display: block;
  font-size: 2rem;
}

h2 {
  font-family: var(--title-font);
  line-height: 1;
  margin-bottom: 0.5rem;
}

input {
  padding: 0.5rem 1rem;
  width: 30rem;
  background-color: var(--tertiary-color);
  border: solid 1px var(--primary-color);
  color: var(--primary-color);
}

.buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  input {
    width: 100%;
  }

  main {
    padding: 2rem;
  }

  h1 {
    font-size: 2rem;
  }

  h1 span {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}

.center {
  text-align: center;
}
